
<div class="recipe-header">

  <%= image_tag "food_placeholder.jpeg", class: "recipe-image"%>
  <br>
  <%= @recipe.title %>
  <br>
  <br>
  <% if @recipe.favourite? %>
     <%= link_to "removetFromavourite", favourite_recipe_path(@recipe) %>
  <% else %>
    <%= link_to "Addtofavourite", favourite_recipe_path(@recipe) %>
  <% end %>
</div>
<div class="recipe-ingredients">
  <h3>Ingredients:</h3>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
      <li><%= "#{ingredient.name}" %> - <%= "#{ingredient.amount} #{ingredient.measurement}" %></li>
    <% end %>
  </ul>
</div>

<div class="recipe-body">
  <% @recipe.content.split(/\s?\d\.\s/).reject{|c|c.empty?}.each_with_index do |line, index| %>
    <%= "#{index + 1}. #{line.strip}\n" %>
    <br>
    <br>
  <% end %>
</div>

