<h1 class="headline">Forgot Password?</h1>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

<div class="form-container">
  <div class="form-group">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email", class: 'custom-placeholder' } %>
  </div>
<div class="form-group">
  <div class="form-actions">
    <%= f.button :submit, "Send me reset password" , class: "form-actions-btn" %>
  </div>
</div>
<% end %>

<%= render "devise/shared/links" %>
</div>
