<tbody>
  <div class="whole-body">
    <% @ingredients.each do |ingredient| %>
      <tr>
        <div class="card">
          <div class="ingredients">
            <div class="name">
              <td><%= ingredient.name %></td>
            </div>
            <div class="amount">
              <td><%= ingredient.amount %></td>
            </div>
            <div class="measurement">
              <td><%= ingredient.measurement %></td>
            </div>
          </div>
          <div class="icons">
            <div class="trash">
                <td><%= link_to ingredient_path(ingredient), data: {turbo_method: :delete, turbo_confirm: "Are you sure you would like to delete #{ingredient.name}?" }, class: "delete" do %>
                    <i class="fa-regular fa-trash-can"></i>
                  <% end %>
                </td>
            </div>
            <div class="pen">
                <p data-bs-toggle="modal" data-bs-target='<%= "#ingredient-#{ingredient.id}"%>'>
                  <i class="fa-regular fa-pen-to-square"></i>
                </p>
            </div>
          </div>
        </div>
         <div class="modal fade" id="ingredient-<%= ingredient.id%>"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit <%= ingredient.name %></h5>
                </div>
                <div class="modal-body">
                  <%= simple_form_for ingredient do |f| %>
                    <%= f.input :name %>
                    <%= f.input :measurement, collection: Ingredient::MEASUREMENTS %>
                    <%= f.input :amount, as: :numeric, input_html: { min: '0', step: 'any' }, input_html: { class: 'custom-placeholder' } %>
                    <%= f.submit %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
      </tr>
    <% end %>
  </div>
</tbody>
