<div class="user-style-section">
  <!-- user section -->
  <div class="user-info">
    <img src='https://cdn-icons-png.freepik.com/512/10542/10542498.png' class="avatar-large" />
    <div class="user-info-text">
      <h1>Hi <%= current_user.name %>,</h1>
      <p>Welcome to your Fridgy!</p>
    </div>
  </div>
  <!-- Delete Button -->
  <div class="trash-bin">
    <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "delete-icon" do %>
      <i class="fi fi-rr-leave"></i>
    <% end %>
  </div>
</div>
<!-- This is the add new ingredient section -->
<div class="center">
  <%= simple_form_for(@ingredient) do |f| %>
    <div class="align-box">
      <h3>New ingredient:</h3>
      <div class="container-input">
        <div class="w-100">
          <%= f.input :name, placeholder: "e.g. Milk", label: false,  input_html: { class: 'custom-placeholder' } %>
        </div>
      </div>
    </div>
    <div class="align-box">
      <h3>Select measurement:</h3>
      <div class="container-input">
        <div class="w-100">
          <%= f.input :measurement, placeholder: "Please select", collection: Ingredient::MEASUREMENTS, label: false, input_html: { class: 'custom-placeholder' } %>
        </div>
      </div>
    </div>
    <div class="align-box">
      <h3>Amount:</h3>
      <div class="container-input">
        <div class="w-100">
          <%= f.input  :amount, placeholder: "e.g. 1, 2, 3, etc.", label: false, as: :numeric, input_html: { min: '0', step: 'any' }, input_html: { class: 'custom-placeholder' }  %>
        </div>
      </div>
    </div>
    <!--button-->
    <div class="align-box">
      <%= f.submit "Add to your Fridgy", class:"submit-button", style:"width: 300px"%>
    <% end %>
    <!-- select ingredients section -->
    <%= form_with url: "/set_meal_type", method: :get do |f| %>
      <h2 style="margin-bottom: 30px;">Choose your ingredients:</h2>
      <div style="max-height: 200px; overflow-y: auto;">
        <div class="ingredient-checkbox">
          <% @ingredients.each do |ingredient| %>
            <div>
              <%= check_box_tag 'ingredients_ids[]', ingredient.id %>
              <%= ingredient.name %>
            </div>
          <% end %>
        </div>
      </div>
      <%= f.submit "Let's Cook!", class:"submit-button-btn", style:"width: 300px"%>
    <% end %>
  </div>
</div>
