<div class="container">
  <h1>Add a new ingredient</h1>

  <%= simple_form_for(@ingredient) do |f| %>
    <div class="row">
      <div class="col-6">
        <%= f.input :name, placeholder: 'your Ingredient', label: false %>
      </div>
      <div class="col-3">
        <%= f.input :measurement, collection: Ingredient::MEASUREMENTS, placeholder: 'Measurement', label: false%>
      </div>
      <div class="col-3">
        <%= f.input  :amount, label: false, as: :numeric, input_html: { min: '0', step: 'any' }  %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <%= f.submit "Add your Ingredient", class:"btn btn-primary"%>
      </div>
    </div>
  <% end %>
</div>
