<h2>Hello Session</h2>
<%= session[:ingredients_ids] %>
<%= session[:meal_type] %>

<%= form_with url:recipes_path, method: :post do |f|%>
  <% Ingredient::CATEGORIES.each do |category| %>
    <%= radio_button_tag 'category', category %>
    <%= f.label category %>
  <% end %>
  <%= f.submit %>
<% end %>
