<h2>Hello Session</h2>
<%= session[:ingredients_ids] %>
<%= session[:meal_type] %>

<%= form_with url: recipes_path, method: :post do |f| %>
  <div class="button-group">
    <% Ingredient::CATEGORIES.each do |category| %>
      <div class="button-wrapper">
        <%= radio_button_tag 'category', category, false, id: category %>
        <%= label_tag category, category, class: 'button-label' %>
      </div>
    <% end %>
  </div>
  <%= f.submit 'Generate Recipe', class: 'submit-button' %>
<% end %>
