<h2 class="headline">What do you want to eat?</h2>
<%= session[:ingredients_ids] %>
<%# <%= simple_form_for :meal_types, url:"/set_category", method: :get do |f|%>
    <%# <%= f.input :meal_type,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: ['Breakfast', 'Lunch', 'Dinner'], legend_tag: false %>
    <%# <%= f.submit "Choose the Category", class:"submit-button" %>

<%# <% end %>

<%= simple_form_for :meal_types, url: "/set_category", method: :get do |f| %>
  <div class="category-wrapper">
    <% ['Breakfast', 'Lunch', 'Dinner'].each do |meal_type| %>
      <div class="category-item">
            <%= image_tag "#{meal_type.downcase}-black.png", class: "meal-type-icon"  %>
          <label class="category-label">
            <p><%= f.radio_button :meal_type, meal_type, class: 'category-selector' %></p>
            <%= meal_type %>
          </label>
      </div>
    <% end %>
  </div>
  <%= f.submit "Choose the Category", class: "submit-button-thu" %>
<% end %>


<%# <div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    Lunch
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Dinner
  </div>
</div> %>
