<!-- user section -->

<div class="user-info">
  <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Avatar_icon_green.svg/2048px-Avatar_icon_green.svg.png' class="avatar-large" />
  <div class="user-info-text">
    <h1>Hi <%= current_user.name %>,</h1>
    <p>Welcome to your Fridgy</p>
  </div>
</div>

<!-- This is the add new ingredient section -->
<div class="container">
  <h1>Add a ingredient</h1>

  <%= simple_form_for(@ingredient) do |f| %>
    <div class="row">
      <div class="col-6">
        <%= f.input :name, placeholder: 'your Ingredient', label: false, input_html: { class: 'custom-placeholder' } %>
      </div>
      <div class="col-3">
        <%= f.input :measurement, collection: Ingredient::MEASUREMENTS, placeholder: 'Measurement', label: false, input_html: { class: 'custom-placeholder' } %>
      </div>
      <div class="col-3">
        <%= f.input  :amount, label: false, as: :numeric, input_html: { min: '0', step: 'any' }, input_html: { class: 'custom-placeholder' }  %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <%= f.submit "Add your Ingredient", class:"btn btn-primary"%>
      </div>
    </div>
  <% end %>
</div>

<!-- display ingredients-list -->

<% @ingredients.each do |ingredient| %>
  <%= ingredient.name %>
<%end %>

<%= form_with url: "/set_meal_type", method: :get do |f| %>
<% @ingredients.each do |ingredient| %>
  <%= check_box_tag 'ingredients_ids[]', ingredient.id %>
  <%= ingredient.name %>
  <% end %>
  <%= f.submit "Choose the Meal_type" %>
<% end %>

<!-- select meal type section -->

<h2>Select the meal you want to cook</h2>
<div class="meal-cards">
  <div class="card">
    <img src="path/to/breakfast.jpg" alt="Breakfast" class="card-image">
    <div class="card-text">Breakfast</div>
  </div>
  <div class="card">
    <img src="path/to/lunch.jpg" alt="Lunch" class="card-image">
    <div class="card-text">Lunch</div>
  </div>
  <div class="card">
    <img src="path/to/dinner.jpg" alt="Dinner" class="card-image">
    <div class="card-text">Dinner</div>
  </div>
</div>

<!-- Ingredients with search section -->

<%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder='search ingredients'  />
    <div class="button-wrap">
      <button name="button" type="submit" class="btn btn-flat mr-3">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
<% end %>
