<h1 class="headline">Login</h1>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-container">
    <div class="form-group">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email", class: 'custom-placeholder' } %>
    </div>
    <div class="form-group">
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password", class: 'custom-placeholder' } %>
    </div>
    <div class="form-group">
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>
    <div class="form-group">
      <%= f.submit "Login", class: "form-actions-btn" %>
    </div>
  </div>
<% end %>

<div class="form-container">
  <%= render "devise/shared/links" %>
</div>
